@import "../components/box/box.scss";
@import "../palette/palette.scss";

.my-flights {
  width: 100%;
  &__card {
    padding: 12px;
    overflow: hidden;
    width: 100%;
    @include defaultBox();
  }
}
