$light-bg: rgb(245, 243, 247);
$dark-bg: rgb(18, 18, 18);

$light-text: black;
$dark-text: white;
$light-text-secondary: rgb(35, 35, 35);
$dark-text-secondary: rgb(240, 240, 240);

$light-primary: rgb(102, 0, 153);
$dark-primary: rgb(153, 50, 204);

$themes: (
  light: (
    //text
    text: $light-text,
    text-secondary: $light-text-secondary,
    //background
    bg: $light-bg,
    //box
    box-border: rgb(230, 235, 241),
    box-background: rgb(255, 255, 255),
    //General
    primary: $light-primary,
    error: #e57373,
    warning: #ffb74d,
    success: #81c784,
  ),
  dark: (
    //text
    text: $dark-text,
    text-secondary: $dark-text-secondary,
    //background
    bg: $dark-bg,
    //box
    box-border: rgba(255, 255, 255, 0.05),
    box-background: rgb(30, 30, 30),
    //General
    primary: $dark-primary,
    error: #d32f2f,
    warning: #f57c00,
    success: #388e3c,
  ),
) !default;

$theme-map: null;

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;

      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
