@import "../../palette/palette.scss";

@mixin background-color($color) {
  & .MuiSnackbarContent-root {
    background-color: $color;
  }
}

.notification-container {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  & .MuiSnackbarContent-message {
    font-size: 1.2rem;
  }
  &__error {
    @include themify($themes) {
      @include background-color(themed("error"));
    }
  }
  &__warning {
    @include themify($themes) {
      @include background-color(themed("warning"));
    }
  }
  &__success {
    @include themify($themes) {
      @include background-color(themed("success"));
    }
  }
}
